<div class="tab-pane fade in <%= klass %> admin-course-wrapper table-responsivexx" id="<%= tab %>">
  <table class="table tablesorter" id="courses-list">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Status</th>
      <th class="hide-on-mobile">Instructor</th>
      <th class="hide-on-mobile"></th>
    </tr>
    </thead>
    <tbody>
    <% courses.each do |course| %>
        <%= render 'admin/course', course: course %>
    <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(function () {
        $('.update-course-status').click(function (e) {
            e.preventDefault();
            var select = $(this).parents('tr').find('select');
            var url = $(this).attr('href');
            if (select.length > 0) {
                $.ajax({
                    url: url,
                    type: 'put',
                    dataType: 'script',
                    data: {status: select.val()},
                    error: function () {
                        popupMessage('Something wrong, Please try again!', 'danger');
                    }
                })
            }
            else {
                popupMessage('Something wrong, Please try again!', 'danger');
            }
        });
    });
</script>