<div id="dashboard">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading">
          <div class="heading-top">
            <h2><i class="fa fa-home"></i> DASHBOARD </h2>
          </div>
          <div class="heading-bottom">
            <h3>Alerts (1)</h3>
          </div>
        </div>
        <div class="content-body">
          <div class="alerts-list">
            <div class="alert-item">
              <div class="pull-left item-name">Pending Your Review</div>
              <%= pending_course_notification(@courses) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



