<nav class="public-nav common-nav nav clearfix">
  <ul class="public-nav-wrapper pull-right nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Instructor </a>

      <div class="dropdown-menu instructor-dropdown dashboard">
        <%= link_to 'Instructor Dashboard', dashboard_instructors_path %>
        <div class="divider"></div>
        <%= link_to 'Create a Course', course_new_instructors_path %>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle nav-user-icon" data-toggle="dropdown">
        <%= image_tag('default_user.png') %>
      </a>

      <div class="dropdown-menu instructor-dropdown">
        <%= link_to 'Logout', dashboard_instructors_path %>
      </div>
    </li>
  </ul>
</nav>