<ul class="list-group">
  <li class="list-group-item">
    <%= link_to  do %>
        <i class="instructors-courses">
          <%= image_tag 'dashboard/courses.png', class: 'img-responsive' %>
        </i>
        <span>Courses</span>
    <% end %>
  </li>
</ul>
