<nav class="public-nav common-nav nav clearfix">
  <ul class="public-nav-wrapper pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Instructor </a>

      <div class="dropdown-menu instructor-dropdown dashboard">
        <%= link_to 'Instructor Dashboard', dashboard_instructors_path %>
        <div class="divider"></div>
        <%= link_to 'Create Course', course_new_instructors_path %>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown </a>

      <div class="dropdown-menu instructor-dropdown">
        <%= link_to 'Logout', dashboard_instructors_path %>
      </div>
    </li>
  </ul>
</nav>