<div id="dashboard">
  <div class="row reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><%= image_tag 'dashboard/courses.png', class: 'courses-icon' %> Courses </h2>
            <%= link_to '', class: 'btn btn-success reset-border-radius' do %>
                <i class="fa fa-plus"></i> New Course
            <% end %>
          </div>
        </div>
        <div class="content-body">
            <div class="content-nav">
              <ul class="nav nav-pills">
                <li role="presentation"><a href="#">All (68)</a></li>
                <li role="presentation" class="verticle-divider"><a class="reset-padding" href="#"></a></li>
                <li role="presentation"><a href="#">Published (68)</a></li>
                <li role="presentation" class="verticle-divider"><a class="reset-padding reset-margin" href="#"></a></li>
                <li role="presentation"><a href="#">Pending Review (2)</a></li>
                <li role="presentation" class="verticle-divider"><a class="reset-padding reset-margin" href="#"></a></li>
                <li role="presentation"><a href="#">Rejected (5)</a></li>
                <li role="presentation" class="verticle-divider"><a class="reset-padding reset-margin" href="#"></a></li>
                <li role="presentation"><a href="#"> Unpublished (12)</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
