<div id="page-list-wrapper">
  <div class="page-list-container clearfix">
    <div class="page-list-column col-md-12 rowx">
      <div class="page-list-left-content col-md-2"></div>


      <div class="page-list-right-content col-md-10">
        <h4>Pages</h4>
        <p>All (25)</p>

        <!--<div class="pages-table-wrapper">-->
          <!--<ul class="common-ul-style">-->
            <!--<li>Title</li>-->
            <!--<li>-->
              <!--<b>Homepage</b><br>-->
              <!--<a href="#">Edit</a>-->
            <!--</li>-->

            <!--<li>-->
              <!--<b>Homepage</b><br>-->
              <!--<a href="#">Edit</a>-->
            <!--</li>-->

            <!--<li>-->
              <!--<b>Homepage</b><br>-->
              <!--<a href="#">Edit</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<b>Homepage</b><br>-->
              <!--<a href="#">Edit</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->




        <table class="table table-responsive table-striped custom-table">
          <tbody>
          <tr>
            <td>Title</td>
          </tr>

          <tr>
            <td>
              <b>Homepage</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Courses</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Course Category-guiter</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Course Category-Piano</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Homepage</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Courses</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Course Category-guiter</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Course Category-Piano</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Homepage</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>

          <tr>
            <td>
              <b>Homepage</b><br>
              <a href="#">Edit</a>
            </td>
          </tr>
          </tbody>
        </table>



      </div>



    </div>
    <div class=""></div>
    <div class=""></div>
  </div>
</div>