Hi <%= @instructor.name %>,

<p>
  Your profile has just been published. Kindly reach out to us at contact@lessonroll.com if you need any further assistance.
</p>
<p>
  Thanks for your attention.
</p>
<p>
  Regards, <br/>
  LessonRoll
</p>