Hi <%= @instructor.name %>,

<p>
  We had just reset your password. Kindly reach out to us at contact@lessonroll.com if you need any further assistance.
</p>
<p>
  new password is: <%= @password %>
</p>
<p>
  Thanks.
</p>
<p>
  Regards, <br/>
  LessonRoll
</p>