Hello <%= @instructor.name %>!

<p>
  Congratulations! Your course "<%= @course.title %>" is now approved. You can view the course
  <%= link_to 'here', show_course_url(@course) %> and make future edits to the course at
  <%= link_to 'here', edit_course_url(@course) %>.
</p>

<p>
  Any future edits will be resubmitted to admin for approval.
</p>

<p>
  We wish you and your course success!
</p>

Thanks and regards, <br/>
LessonRoll