Hello LessonRoll Admin,

<p>
  There is 1 course awaiting your review. Please click on link below to review the course.
</p>

<p>
  <%= link_to 'Course edit for review', edit_course_url(@course) %>
</p>

Regards, <br/>
LessonRoll system