<div class="tab-pane fade in" id="promo-video">
  <div class="header-wrapper">
    <h3 class="reset-margin info-title text-center">
      Promo Video
    </h3>

    <div class="sub-title text-center" style="margin-top: 10px;">
      <p>
        Add a promotional video to your course
      </p>
    </div>
  </div>
  <div class="input-container">
    <% if @course.new_record? %>
        <p> Please complete course basics information and save first </p>
    <% else %>
        <div class="form-wrapper">
          <div class="form-group">
            <%= label_tag :cover_preview, 'Video Preview:*' %>
            <div class="cover-preview">
              <div class="text-center">
                <%= image_tag 'promo_video_before_upload.jpg', class: 'preview-video' %>
              </div>
              <p>
                <b> Don't forget to add a promo video! </b>
              </p>

              <p>
                Students who watch a well-made promo video are <b> 5X more likely to enrol </b> in your course. We've
                seen
                that statistic go up to 10X for exceptionally awesome videos.
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <%= text_field_tag :uploaded_image, '', placeholder: 'Enter YouTube link of video here', class: 'form-control' %>
              <label class="input-group-btn">
            <span class="btn btn-success">
               <i class="fa fa-save"></i> Save
            </span>
              </label>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>