<div id="courses-wrapper">
  <div class="container clearfix">
    <% @group_courses.each do |category| %>
        <%= render partial: 'courses/category_courses', locals: {category: category} %>
    <% end %>
  </div>
</div>