<div id="course-wrapper">
  <div class="container">
    <h1 class="course-title"> An Entrepreneur's Checklist </h1>

    <p>
      Learn how to an entrepreneur from revered serial entrepreneur Stave Black.
    </p>

    <p>
      Instructed by <%= link_to 'Stave B.', profile_instructors_path('stave-b') %>
      <%= link_to 'Guitar', category_courses_path('guitar'), style: 'margin-left: 20px' %>
    </p>

    <div class="promo-video">
      <iframe src="https://www.youtube.com/embed/2xK73MucJA0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="course-content">
      <h1 class="title"> About This Course </h1>
      <b> Course summary </b>

      <p class="summary">
        Lorem ipsum dolor sit amet, his tempor tibique no, oratio audire ei qui, quas debet congue in sed. Quaeque
        verterem eam no. At has volumus reprimique. Mea ex dicit dicunt audiam, mea docendi forensibus ut, iudico graece
        accommodare eum ad. Vidisse saperet id pri.

        Esse eligendi id his, ne saepe civibus appetere vix. Est modo aliquid te, ei ius odio mutat minimum, vel eripuit
        pertinax ei. Feugait sapientem eam eu, sit luptatum gubergren percipitur et, ceteros civibus ne nam. Malis
        habemus ex nec. Principes dignissim ius at, mei illud tollit aliquando ne.

        Omnium pericula mei et, laoreet civibus ex eos. An eam quod aeque apeirian. Iusto constituam intellegebat no
        ius. No hinc sensibus principes sea, te ubique legere vix, usu quis veniam gubergren at. Sea quod accusata id,
        sapientem delicatissimi concludaturque id eos.

        Ius duis liber prodesset ut, eius atqui offendit per ex, cu mei cibo fierent scriptorem. Mucius omnesque
        periculis ei ius. In aliquid voluptatum repudiandae ius. In laoreet fuisset epicurei quo, ea graeci vulputate
        eos, nam no facer volumus omnesque.

        Causae definiebas vim ad, nec eu tale probatus, cu ius iisque feugiat minimum. Nec civibus apeirian ad, at has
        quod libris aliquam. Ut usu noster essent scaevola, te virtute eripuit eum, duis sadipscing cu nec. Usu sale
        consequuntur delicatissimi ex, veritus luptatum vulputate nam ea. Est causae assentior et, oratio veniam equidem
        in sit, possit phaedrum cotidieque et mea.
      </p>
    </div>
  </div>
</div>