$header-bg-color: #61006A;
$body-bg-color: #F4F4F4;

#music-gallary-wrapper {
  #music-gallary-header-wrapper {
    background: $header-bg-color;
    min-height: 130px;
    .music-gallary-header-container {
      a {
        text-decoration: none;
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 25px;
        color: #fff;
      }
      h3 {
        color: #fff;
      }
    }
  }

  #music-gallary-content-wrapper {
    background: $body-bg-color;
    .music-gallary-content-container {
      .music-gallary-content-row {

        .left-sidebar {
        }
        .right-sidebar {
          .image-widget-row {
            margin-bottom: 15px;
            .image-widget-column {
              margin-bottom: 20px;
              a {
                .image-container {
                  background: #fff;
                  img {
                    width: 100%;
                  }
                  color: #707070;
                  display: block;
                  font-weight: bold;
                  padding-bottom: 10px;
                  text-decoration: none;
                  .image-text {
                    padding: 10px 10px 15px 10px;
                    p {
                      margin-top: 10px;
                      color: #707070;
                      margin-bottom: 0;
                      font-weight: normal;
                    }
                  }
                }
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.browse-course-items {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
  }
}