// Place all the styles related to the instructor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New Course

.new-course-wrapper {
  .left-sidebar {
    background: #F3F3F2;
    padding: 5px;
    border-right: solid 2px #EEEEEE;
    min-height: 630px;
    h3 {
      margin: 0;
      padding: 2px;
      font-size: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      border: none;
      li {
        float: none;
        &.active {
          a {
            background: rgb(126, 132, 171);
            color: #FFFFFF;
          }
        }
        a {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 5px 10px;
          text-indent: 10%;
          display: block;
          &:hover {
            background: rgb(126, 132, 171);
            color: #FFFFFF;
            text-decoration: none;
          }
        }
      }
    }
    .course-info-text {
      text-align: center;
      margin: 3px 0;
      font-size: 16px;
    }
  }
}

#new-course {
  background: rgb(243, 243, 242);
  border-right: 1px solid #dfdfdf;
  .header-wrapper {
    background: #FFFFFF;
    padding: 10px;
    margin-top: 1px;
  }
  .input-container {
    border-top: solid 1px #CCCCCC;
    padding: 20px;
    .form-wrapper {
      max-width: 550px;
      margin: auto;
      label {
        color: rgb(115, 119, 141);
      }
      .course-summary-input {
        min-height: 500px;
      }
    }
  }

  #course-image, #promo-video {
    .cover-preview {
      padding: 15px;
      background: #FFFFFF;
      border: solid 1px #cccccc;
      .preview-image {
        max-width: 100%;
        max-height: 300px;
        margin-bottom: 10px;
      }
    }
  }

  .info-title {
    margin-bottom: 0;
    color: #777777;
    font-weight: bold;
    font-size: 20px;
  }

  .sub-title {
    color: #CCCCCC;
    font-size: 16px;
  }

  .course-title {
    padding-left: 45px;
    color: #333333;
    font-weight: bold;
    margin-top: 5px;
  }
}

.instructor-course-wrapper {
  table {
    width: 100%;
    .edit-course-link {
      float: right;
      vertical-align: top;
    }
  }
}

@media (max-width: 768px) {
  #new-course {
    border-right: none;
  }
  .new-course-wrapper {
    .left-sidebar {
      border: none;
      min-height: unset;
      ul {
        li {
          display: inline-block;
          &:first-child {
            display: block;
          }
          a {
            text-indent: 0;
          }
        }
      }
    }
  }

  .instructor-course-wrapper {
    table {
      tbody tr td:first-child div.course-image {
        width: 100% !important;
        height: 100% !important;
        min-width: 100px;
        max-height: 140px;
      }
      .instructors-course-name {
        padding-top: 2px !important;
      }
      .edit-course-link, .goto-course-ling {
        float: none;
        margin-bottom: 10px;
      }
    }
  }
}