$header-bg-color: #61006A;
$body-bg-color: #F4F4F4;

#music-gallary-wrapper {
  #music-gallary-header-wrapper {
    background: $header-bg-color;
    min-height: 130px;
    margin-bottom: 25px;
    .container {
      a {
        text-decoration: none;
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
        color: #fff;
        i {}
      }
      h3 {
        color: #fff;
      }
    }
  }

  #music-gallary-content-wrapper {
    background: $body-bg-color;
    .container {
      .row {
        .left-sidebar, .col-md-2 {}
        .right-sidebar, .col-md-10 {
          .row {
            margin-bottom: 10px;
            .col-md-3 {
              .image-container {
                background: #fff;
                img {
                  width: 100%;
                }
                .image-text {
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-bottom: 15px;
                  a {
                    color: #707070;
                    display: block;
                    font-weight: bold;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    text-decoration: none;
                  }
                  p {
                    color: #707070;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}