.common-nav {
  background: #ffffff;
  box-shadow: 0 0 1px #cccccc;
}

.public-nav-wrapper {
  margin: 0;
  padding: 0;
  li {
    float: left;
    list-style: none;
    a {
      padding: 10px !important;
      color: rgb(186, 186, 186);
      border-left: solid 1px rgb(233, 233, 233);
      display: block;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        background: rgb(244, 244, 244);
      }
    }
  }
}

.nav-pills {
  & > {
    li {
      border-right: solid 2px #CCCCCC;
      &:last-child {
        border: none;
      }
      & > a {
        padding: 2px 10px !important;
        margin-right: 2px;
        &:hover {
          text-decoration: underline !important;
          background: transparent !important;
        }
      }
    }
  }
}

.nav {
  .nav-user-icon {
    padding: 2px 15px !important;
    img {
      width: 35px;
    }
  }
  .dropdown {
    &.open {
      a {
        color: #777777;
        border-color: #CCCCCC !important;
        &:hover, &:focus, &:active {
          border-color: #CCCCCC !important;
          background: #F4F4F4 !important;
        }
      }
    }
    .instructor-dropdown {
      &.dashboard {
        width: 200px;
      }
      a {
        font-weight: normal;
        border: none;
        padding-top: 7px;
        padding-bottom: 7px;
      }
      .divider {
        margin: 2px 0;
      }
      background: #FFFFFF;
      left: auto;
      right: 0;
      box-shadow: 0 0 3px #cccccc;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute !important;
    float: left !important;
    background: #ffffff !important;
    box-shadow: 0 0 3px #cccccc !important;
  }

  .navbar-nav {
    margin: 0 !important;
  }
}