$page-whole-body-color: #F1F1F1;
$text-color: #707FE7;

#page-list-wrapper {
  background: rgb(241, 241, 241);
  .page-list-container {
    background: $page-whole-body-color;
    .page-list-column {
      .page-list-right-content {
        .custom-table {
          tbody {
            tr:first-child {
              color: #337ab7;
              font-size: 14px;
              font-weight: bold;
              border-bottom: solid 1px rgba(230, 230, 230, 0.5);
            }
            tr {
              td {
                padding: 5px 8px;
                border-top: 0 !important;
                //padding-left: 45px;
                b {
                  color: $text-color;
                  font-size: 13px;
                }
                input[type='checkbox'] {
                  margin-right: 5px;
                }
                a {
                  text-decoration: none;
                  font-size: 13px;
                  padding-left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  /* Bootstrap Custom Design */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff !important;
  }

  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgb(249, 249, 249) !important;
  }
}


