* {
  outline: none;
}

*:focus, *:active {
  outline: 0 !important;
  text-decoration: none !important;
}

.white-color {
  color: #ffffff;
}

.common-ul-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}