* {
  outline: none;
}

*:focus, *:active {
  outline: 0 !important;
  text-decoration: none !important;
}

.white-color {
  color: #ffffff;
}

.common-ul-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: none;
}

table {
  .hide-on-mobile {
    display: table-cell;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-desktop {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }

  table {
    .hide-on-desktop {
      display: table-cell;
    }

    .hide-on-mobile {
      display: none;
    }
  }
}