#password-edit{
  .password-wrapper{
    margin: auto;
    padding-top: 10px;
    max-width: 400px;
    .password-header{
      h2{
        font-weight: bold;
      }
    }
    .password-note{
      padding-top: 20px;
      font-size: 17px;
      letter-spacing: 0.25px;
    }
    .password-content{
      padding-top: 25px;
      .form-group{
        label{
          font-size: 15px;
          font-weight: 500 ;
        }
      }
      .submit-action{
        padding-top: 20px;
        .btn{
          width: 150px;
          border-radius: 2px;
        }
      }
    }
  }
}