/* tables */

table.tablesorter thead tr .header {
  background-image: image-url('bg.gif');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
  text-indent: 12px;
}

table.tablesorter thead tr .headerSortUp {
  background-image: image-url('asc.gif');
}

table.tablesorter thead tr .headerSortDown {
  background-image: image-url('desc.gif');
}


