// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-courses-category-container {
  padding-top: 10px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 20px;
    }
  }
}

.home-course-category {
  height: 275px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .course-category {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}

.browse-all-course {
  margin-bottom: 10px;
  a {
    font-weight: bold;
  }
}