<p>Hello <%= @resource.full_name %>,</p>
<p>A password reset for your account was requested.</p>
<p>Please click the link below to change your password.</p>
<p><%= link_to 'Change My Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
